# Secrets / env
.env
.env.*
!.env.example
*.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
*.tfplan

# OS / editors
.DS_Store

# Python
venv/
__pycache__/
*.pyc
db.sqlite3
media/
staticfiles/
